services:
  tautulli:
    image: lscr.io/linuxserver/tautulli:develop
    container_name: tautulli
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./appdata/tautulli/config:/config
    ports:
      - 8181:8181
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
  notifiarr:
    container_name: notifiarr
    hostname: notifiarr
    image: golift/notifiarr
    restart: unless-stopped
    ports:
      - 5454:5454
    volumes:
      - ./appdata/notifiarr/config:/config
      - /var/run/utmp:/var/run/utmp
      - /etc/machine-id:/etc/machine-id
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
networks:
  default:
    name: shared
    external: true
