services:
  sonarr:
    image: ghcr.io/linuxserver/sonarr:develop
    container_name: sonarr
    env_file:
      - .env
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - UMASK=022
      - LOG_LEVEL=info
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 2G
    volumes:
      - /opt/stacks/arrstack/appdata/sonarr/config:/config
      - ${MEDIA_ROOT}/truenas/tv/:/tv
      - ${MEDIA_ROOT}/truenas/anime/:/anime
      - ${MEDIA_ROOT}/ugreen/downloads/:/downloads
      - ${MEDIA_ROOT}/truenas/:${MEDIA_ROOT}/truenas
    ports:
      - 8989:8989
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:nightly
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - PGID=${PGID}
      - TZ=${TZ}
      - LOG_LEVEL=info
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 2G
    volumes:
      - /opt/stacks/arrstack/appdata/radarr/config:/config
      - ${MEDIA_ROOT}/ugreen/movies:/movies
      - ${MEDIA_ROOT}/ugreen/downloads:/downloads
      - ${MEDIA_ROOT}/truenas/:${MEDIA_ROOT}/truenas
    ports:
      - 7878:7878
    restart: unless-stopped
  profilarr:
    image: santiagosayshey/profilarr:beta
    container_name: profilarr
    ports:
      - 6868:6868
    volumes:
      - /opt/stacks/arrstack/appdata/profilarr/:/config
    environment:
      - TZ=${TZ}
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.25'
          memory: 256M
  prowlarr:
    image: bitlessbyte/prowlarr:latest  #  lscr.io/linuxserver/prowlarr:nightly
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - PGID=${PGID}
      - TZ=${TZ}
      - LOG_LEVEL=info
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 1G
    volumes:
      - /opt/stacks/arrstack/appdata/prowlarr/config:/config
    ports:
      - 9696:9696
    restart: unless-stopped
  overseerr:
    image: seerr/seerr:develop
    container_name: overseerr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /opt/stacks/arrstack/appdata/overseerr/config:/app/config
    ports:
      - 5055:5055
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
  lidarr:
    image: ghcr.io/hotio/lidarr:pr-plugins
    container_name: lidarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - PGID=${PGID}
      - TZ=${TZ}
      - LOG_LEVEL=info
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 2G
    volumes:
      - /opt/stacks/arrstack/appdata/lidarr/config:/config
      - ${MEDIA_ROOT}/ugreen/downloads:/downloads
      - ${MEDIA_ROOT}/truenas/Music:/music
      - ${MEDIA_ROOT}/truenas/:${MEDIA_ROOT}/truenas
    ports:
      - 8686:8686
    restart: unless-stopped
  jellyseerr:
    image: ghcr.io/seerr-team/seerr:develop
    init: true
    container_name: jellyseerr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - LOG_LEVEL=info
      - TZ=${TZ}
      - PORT=5056
    ports:
      - 5056:5056
    volumes:
      - /opt/stacks/arrstack/appdata/seerr/config:/app/config
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://192.168.0.11:5056/api/v1/status"]
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /opt/stacks/arrstack/appdata/bazarr/config:/config
      - ${MEDIA_ROOT}/ugreen/movies/:/movies
      - ${MEDIA_ROOT}/truenas/tv/:/tv
      - ${MEDIA_ROOT}/truenas/anime/:/anime
    ports:
      - 6767:6767
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 1G
  sportarr:
    image: sportarr/sportarr:latest
    container_name: sportarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=022
      - TZ=${TZ}
    volumes:
      - /opt/stacks/arrstack/appdata/sportarr/config:/config
      - ${MEDIA_ROOT}/truenas/sports:/sports
      - ${MEDIA_ROOT}/truenas/downloads/complete/:/downloads
    ports:
      - 1867:1867
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
networks:
  default:
    name: shared
    external: true
